.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
source/_posts/
yiwen-blog-deploy-key
yiwen-blog-deploy-key.pub

# for devcontainers
package.json
package-lock.json
lib
gulpfile.js
scaffolds
# symbolic link
node_modules
